1. 전국지역간 톤급별 화물자동차 통행량 OD   
2. 서울시 행정동단위 CJ대한통운 택배 유형별 월 데이터   
3. 인도 배달 트럭 이동 데이터

In [12]:
# 라이브러리 불러오기
import pandas as pd

# 전국지역간 톤급별 화물자동차 통행량 OD
- 배포용 (기준년도 2021년) 화물자동차OD_2023.02.14 데이터 
---   
- 2024.12.04
- 화물자동차 OD를 통해 일이 아닌 다른 변수들로 물류량 예측을 목표로 함

- 대형(hub - sub), 소형(sub - 단지) 사용
- 물동량 추가해 줌 - 은주

In [ ]:
car_od = pd.read_excel("data/2022-OD-FRE-CAR-00 전국지역간 톤급별 화물자동차 통행량 OD(2021년 기준)/배포용 (기준년도 2021년) 화물자동차OD_2023.02.14.xlsx")
car_od.head()

,2021년 기준 화물자동차O/D(단위: 대/일),Unnamed: 1,Unnamed: 2,Unnamed: 3,3664781.507692,593089.059459,533630.657895,4791501.225046
0,O_250,대존O_17,D_250,대존D_17,소형,중형,대형,전체
1,1,1,1,1,4471.276923,53.997297,31.431579,4556.705799
2,1,1,2,1,707.692308,35.810811,12.781579,756.284697
3,1,1,3,1,105.015385,10.262162,2.286842,117.564389
4,1,1,4,1,130.953846,10.535135,3.828947,145.317929

In [ ]:
# index를 첫 번째 행 값으로 변경하기, 기존의 index는 삭제(자료 설명임)

# 첫 번째 행을 index로 설정
car_od.columns = car_od.iloc[0]  # 첫 번째 행을 열 이름으로 설정
car_od = car_od[1:]  # 첫 번째 행 제거

# 출력
car_od.head()

0 O_250 대존O_17 D_250 대존D_17           소형         중형         대형           전체
1     1      1     1      1  4471.276923  53.997297  31.431579  4556.705799
2     1      1     2      1   707.692308  35.810811  12.781579   756.284697
3     1      1     3      1   105.015385  10.262162   2.286842   117.564389
4     1      1     4      1   130.953846  10.535135   3.828947   145.317929
5     1      1     5      1    57.684615   6.818919   1.363158    65.866692

In [15]:
# 열 추출
car_od.columns

Index(['O_250', '대존O_17', 'D_250', '대존D_17', '소형', '중형', '대형', '전체'], dtype='object', name=0)

# 서울시 행정동단위 CJ대한통운 택배 유형별 월 데이터

In [ ]:
# 서울시 행정동단위 CJ대한통운 택배 유형별 월 데이터
cj_data = pd.read_csv("data/행정동단위 월별 착지 데이터.csv")
cj_data.head()

,dl_ym,send_ctpv_nm,send_ctpv_cd,send_ctgg_nm,send_ctgg_cd,send_hjdong_nm,send_hjdong_cd,rec_ctpv_nm,rec_ctpv_cd,rec_ctgg_nm,...,e_c_11_04,e_c_11_05,e_c_11_06,e_c_11_07,e_c_11_08,e_c_11_09,e_c_11_10,e_c_11_11,e_c_11_12,e_c_11_13
0,202201,경기도,41,고양시 일산동구,41285,중산2동,4128552600,서울특별시,11,노원구,...,0,0,0,0,0,0,0,0,0,0
1,202201,서울특별시,11,성동구,11200,금호4가동,1120062000,서울특별시,11,마포구,...,0,0,0,0,0,0,0,0,0,0
2,202201,경기도,41,의정부시,41150,송산2동,4115057600,서울특별시,11,송파구,...,0,0,0,0,0,0,0,0,0,0
3,202201,경상남도,48,진주시,48170,평거동,4817071000,서울특별시,11,양천구,...,0,0,0,0,0,0,0,0,0,0
4,202201,부산광역시,26,부산진구,26230,부전제1동,2623051000,서울특별시,11,서대문구,...,0,0,0,0,0,0,0,0,0,0

In [17]:
cj_data.columns

Index(['dl_ym', 'send_ctpv_nm', 'send_ctpv_cd', 'send_ctgg_nm', 'send_ctgg_cd',
       'send_hjdong_nm', 'send_hjdong_cd', 'rec_ctpv_nm', 'rec_ctpv_cd',
       'rec_ctgg_nm',
       ...
       'e_c_11_04', 'e_c_11_05', 'e_c_11_06', 'e_c_11_07', 'e_c_11_08',
       'e_c_11_09', 'e_c_11_10', 'e_c_11_11', 'e_c_11_12', 'e_c_11_13'],
      dtype='object', length=153)

# 인도 배달 트럭 이동 데이터

In [ ]:
# 인도 트럭 이동 데이터 
# data 파일의 파일 찾기
import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP.zip
data\2022-OD-FRE-CAR-00 전국지역간 톤급별 화물자동차 통행량 OD(2021년 기준).zip
data\Delivery truck trip data.xlsx
data\행정동단위 월별 착지 데이터.csv
data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP\�����Ǳ����Ǽ����ڵ�.xls
data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP\�����Ǳ�����ȭ���ڷἳ��(2003).hwp
data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP\���������� ��޺� ȭ���ڵ��� ���෮ OD(2003�� ����)\01 1�� ����\�����ڵ���01.zip
data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP\���������� ��޺� ȭ���ڵ��� ���෮ OD(2003�� ����)\02 1���̻� 8������\�����ڵ���18.zip
data\2004-OD-FRE-CAR-04 대전광역권 톤급별 화물자동차 통행량 OD(2003년 기준).ZIP\���������� ��޺� ȭ���ڵ��� ���෮ OD(2003�� ����)\03 8���̻�\�����ڵ���80.zip
data\2022-OD-FRE-CAR-00 전국지역간 톤급별 화물자동차 통행량 OD(2021년 기준)\배포용 (기준년도 2021년) 화물자동차OD_2023.02.14.xlsx
data\2022-OD-FRE-CAR-00 전국지역간 톤급별 화물자동차 통행량 OD(2021년 기준)\배포용 장래년도 화물자동차OD_2023.02.14.xlsx
data\2022-OD-FRE-CAR-00 전국지역간 톤급별 화물자동차 통행량 OD(2021년 기준)\화물OD 설명자료.hwp

In [35]:
truck_trips =  pd.read_excel("data/Delivery truck trip data.xlsx")

In [36]:
truck_trips.head()

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927/082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,NaN,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271/082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,NaN,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382/082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,NaN,NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO
3,VAMOSYS,VCV00014743/082021,Regular,2020-08-28 00:48:24.503,TN28AQ0781,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:31,...,61.0,NaN,NaN,RAVI,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,ARVEXNAM09,ARVINTH TRANSPORT,LU STRUT RA / RADIUS ROD
4,VAMOSYS,VCV00014744/082021,Regular,2020-08-28 01:23:19.243,TN68F1722,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8720,79.6320","11.8720,79.6320",2020-08-28 12:40:29,...,240.0,NaN,NaN,TAMIL,NaN,LUTGCCHE06,Lucas tvs ltd,SRTEXKOR96,SR TRANSPORTS,WISHBONE / V ROD/HDT